@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    padding:0px;
    margin:0px;
}


h1{
    font-family: 'Righteous', 'Sarala';

}

h3{

}

h6{

}

body{
    background-color: #FFF7F0;
}
/*-------------------------------------Conteiners---------------------------------------------*/

/*-------Main--------*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid{
    width: 70vw;
    height:70vh;

    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;

}

.container-1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    height:100%;
}

.container-2{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

    width:70%;
    height:50%
}

.card{
    background-color:#849BBD;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    margin:5%;

}

/* CARDS */

#history{
    width:100%;
    height:100%;

    background-color: #849BBD;
}

#values{
    width: 100%;
    height:100%;

    background-color: #849BBD;
}

#project{
    width: 100%;
    height:100%;

    background-color: #849BBD;
}

/* CARDS */
